<div class="row">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="row">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="row">
  <%= form.submit %>
</div>

